#apps-list {
	list-style: none;
}

.fa-times {
	color: red;
	cursor: pointer; 
	cursor: hand; 
}

#apps {
	border-left: 1px solid #eee;
}

#apps-list {
	padding-top: 10px;
	padding-left: 0;
}

.search-result {
	clear: both;
}

.fa-plus {
	color: green;
}