{{define "head"}}{{end}}
{{define "content"}}
 <div class="page-header">
        <h1>About
            <small>Steam Info</small>
        </h1>
    </div>

    <p>
        Source code of this application is available <a href="https://github.com/Tsukanov/steaminfo-go">on GitHub</a>.
        Please, report any issues you find. All contributions are welcome.
    </p>

    <h3>Legal info</h3>
    <p>
        This website uses <a href="http://www.google.com/analytics/">Google Analytics</a> which stores 3-5 cookies on
        your computer
        (<a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">more info</a>).
        Some parts of this website are hosted on other services like
        <a href="https://developers.google.com/speed/libraries/terms">Google</a> and
        <a href="http://www.maxcdn.com/legal/terms/">MaxCDN</a>.
    </p>

    <p>
        Powered by Steam APIs and not affiliated with Valve.
        Steam and the Steam logo are trademarks and/or registered trademarks of Valve Corporation.
    </p>

    <p>
        <a href="http://valvesoftware.com/legal.html">Valve's Legal Info</a>,
        <a href="http://steamcommunity.com/dev/apiterms">Steam Web API Terms of Use</a>.
    </p>
    {{end}}