{{define "head"}}
<title>Steam History - About this project</title>
{{end}}

{{define "content"}}
<div class="page-header">
    <h1>About
        <small>Steam History project</small>
    </h1>
</div>

<p>
    This project implements feature that Steam Stats page is missing - application usage history. This is an open source project. Source code is available <a href="https://github.com/tsukanov/steamhistory">on GitHub</a>. Feel free to use it and report any issues you find. Contributions are welcome too.
</p>

<h3>Legal info</h3>
<p>
    This website uses <a href="http://www.google.com/analytics/">Google Analytics</a> which stores 3-5 cookies on
    your computer
    (<a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">more info</a>).
    Some parts of this website are hosted on services like
    <a href="https://developers.google.com/speed/libraries/terms">Google</a>,
    <a href="http://www.maxcdn.com/legal/terms/">MaxCDN</a> and
    CloudFlare.
</p>

<p>
    Powered by Steam APIs and not affiliated with Valve.
    Steam and the Steam logo are trademarks and/or registered trademarks of Valve Corporation.<br/>
    <a href="http://valvesoftware.com/legal.html">Valve's Legal Info</a>,
    <a href="http://steamcommunity.com/dev/apiterms">Steam Web API Terms of Use</a>.
</p>
{{end}}