<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Steam History - Application usage history</title>

    <link href="//fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet" type="text/css">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/main.css" rel="stylesheet"/>

    {{template "head" .}}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-9427181-6', 'steamhistory.com');
      ga('send', 'pageview');
    </script>
</head>

<body>

    <header class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <strong><a class="navbar-brand" href="/">Steam History</a></strong>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/about/">About</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main class="container">
        {{template "content" .}}
    </main>

    <footer class="container">
        Powered by <a href="http://steampowered.com/">Steam</a>.
        <a href="https://github.com/Tsukanov/steamhistory">Open source</a>.
    </footer>

</body>

</html>