{{define "head"}}
<title>Steam History - Application usage history</title>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<link href="/static/home.css" rel="stylesheet">

<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>

<script src="/static/highstock.js"></script>

<link href="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.4/select2.css" rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.4/select2.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/1.2.3/ZeroClipboard.min.js"></script>
{{end}}

{{define "content"}}
<div class="row">

    <div class="col-md-8">
        <div id="chart" style="height:400px; min-width:100%; display: none;"></div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">Displayed apps</div>
            <div class="panel-body">
                <input type="hidden" id="search" style="width:100% !important; max-width:328px;" />
                <ul id="apps-list"></ul>
                <button id="copy-link"><i class="fa fa-link"></i> Copy link to current set of apps</a></button>
            </div>
        </div>
    </div>
</div>

<script>    
    $(document).ready(function() {
        // Search
        $("#search").select2({
            placeholder: "Add application",
            minimumInputLength: 1,
            ajax: { 
                url: "/api/apps/",
                dataType: 'json',
                data: function (term, page) { return { q: term }; },
                results: function (data, page) { return {results: data}; }
            },
            id: function(object) { return object.appid; },
            formatResult: function(object) { return "<span style='color:grey'>" +object.appid + "</span> <b>" + object.name + "</b>"; },
            triggerChange: false,
            formatSelection: function(object) { return object.name; },
            escapeMarkup: function (m) { return m; } 
        });
        $("#search").on("change", function(e) { addApp(e.val) });
    });

        var list = []; // Used to store list of applications that user is working with
        var apps = []; // Used to store downloaded data about each application

        function findAppIndex(array, appId) {
            var index = -1;
            $.each(array, function (i, item) {
                if (item.id == appId) index = i;
            });
            return index;
        }

        function addApp(appId, name) {
            if (findAppIndex(list, appId) != -1) return; // Not adding the same app twice

            console.log("Adding app #" + appId);
            if (name === undefined) list.push({ id: appId })
                else list.push({ id: appId, name: name })
                    updateAppsList();

            // Loading data
            $.getJSON('/api/history/' + appId, function (data) {
                if (findAppIndex(list, appId) == -1) return; // Checking if still exists
                apps.push({
                    id: appId,
                    name: data["name"],
                    data: data["history"],
                    type: 'spline',
                    tooltip: { valueDecimals: 0 }
                });
                updateChart();

                if (name === undefined) {
                    var listIndex = findAppIndex(list, appId);
                    list[listIndex] = { id: appId, name: data["name"] };
                }
                updateAppsList();
            });
        }

        function removeApp(appId) {
            // Removing form the list
            var listIndex = findAppIndex(list, appId);
            if (listIndex != -1) list.splice(listIndex, 1);

            // Removing data is loaded
            var appsIndex = findAppIndex(apps, appId);
            if (appsIndex != -1) apps.splice(appsIndex, 1);

            updateChart();
            updateAppsList();
        }

        function updateAppsList() {
            $('#apps-list').empty(); // Cleanup

            $.each(list, function (i, app) {
                if (findAppIndex(apps, app.id) != -1) {
                    if (list.length > 1) {
                        $('#apps-list').append($("<li>")
                            .append('<span style="color:grey">' + app.id + '</span> <strong><a href="/' + app.id + '">' + app.name + "</a></strong> ")
                            .append($('<i>')
                                .attr('onclick', 'removeApp(' + app.id + ')')
                                .attr('title', 'Remove app from the list')
                                .attr('class', 'fa fa-times')
                            )
                        );
                    } else {
                        $('#apps-list').append($('<li>').append('<span style="color:grey">' + app.id + '</span> <strong><a href="/' + app.id + '">' + app.name + "</a></strong>"));
                    }
                } else {
                    if (app.name != null) {
                        $('#apps-list').append(
                            $('<li>').append("<span style='color:grey'>" +app.id + "</span> <b>" + app.name + "</b> ")
                            .append("<i class=\"fa fa-spinner fa-spin\"></i>"));
                    } else {
                        $('#apps-list').append(
                            $('<li>').append("<span style='color:grey'>" +app.id + "</span> ")
                            .append("<i class=\"fa fa-spinner fa-spin\"></i>"));
                    }
                }
            });
        }

        function updateChart() {
            var chart = $('#chart');
            if (apps.length > 0) chart.show("fast");
            else chart.hide("fast");

            chart.highcharts('StockChart', {
                rangeSelector: {
                    buttons: [
                    { type: 'day', count: 1, text: '1d' },
                    { type: 'week', count: 1, text: '1w' },
                    { type: 'month', count: 1, text: '1m' },
                    { type: 'all', text: 'all' }
                    ],
                    selected: 1
                },

                xAxis: { type: 'datetime' },
                yAxis: { min: 0 },

                credits: { enabled: false },
                exporting: { enabled: false },

                series: apps,

                plotOptions: {
                    marker: { enabled: false },
                    shadow: false,
                }
            });
        }

        // Adding apps        
        // Hack from http://stackoverflow.com/a/2880929/272770
        var urlParams = {};
        (window.onpopstate = function () {
            var match,
                    pl = /\+/g,  // Regex for replacing addition symbol with a space
                    search = /([^&=]+)=?([^&]*)/g,
                    decode = function (s) {
                        return decodeURIComponent(s.replace(pl, " "));
                    },
                    query = window.location.search.substring(1);
                    while (match = search.exec(query))
                        urlParams[decode(match[1])] = decode(match[2]);
                })();
                if (urlParams["apps"] != null) {
                    var requestedApps = urlParams["apps"].split(',');
                    requestedApps.forEach(function (appId) {
                        addApp(appId);
                    });
                } else {
                    addApp(0, "Steam Client");
                }

        /**
         * Clipboard stuff
         */
          $(document).ready(function() {
         function getLink() {
            var link = 'http://' + $(location).attr('host') + "/?apps=";
            $.each(list, function (i, app) {
                if (i != 0) link += ',';
                link += app.id;
            });
            return link;
        }
        ZeroClipboard.setDefaults( {
            moviePath: '//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/1.2.3/ZeroClipboard.swf',
            allowScriptAccess: "always",
            trustedDomains: location.hostname
        } );
        var clip = new ZeroClipboard(document.getElementById("copy-link"));
        clip.on('dataRequested', function (client, args) { client.setText(getLink()); });
    });
    </script>
    {{end}}