{{define "head"}}
<title>Popular applications - Steam History</title>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<link href="/static/popular.css" rel="stylesheet">

<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
{{end}}

{{define "content"}}
<div class="page-header">
  <h1>Popular apps <small>Today</small></h1>
</div>

<div id="loading-msg"><i class="fa fa-spinner fa-spin"></i> Loading...</div>

<table id="top-table" class="table table-hover" style="display: none;">
    <thead><tr>
        <th style="width:1%">#</th>
        <th>Name</th>
        <th>Peak</th>
    </tr></thead>
</table>

<script>
function parseRow(n, row) {
    var html = $('<tr>');
    html.append($('<td>' + n + '</td>'))
        .append($('<td><a href="/' + row.app.appid + '" title="View details">' + row.app.name + '</a> <a href="/?apps=' + row.app.appid + '" title="Compare with other apps"><i class="fa fa-bar-chart-o"></i></a>'))
        .append($('<td><abbr title="' + row.peak.time + '">' + row.peak.count + '</abbr></td>'))
    return html;
}

$(document).ready(function() {
    // Loading data
    $.getJSON('/api/apps/popular/', function (data) {
        $.each(data, function(key, row) {
            $("#top-table").append(parseRow(key + 1, row));
        });
        $("#loading-msg").hide("fast");
        $("#top-table").show("fast");
    });
});
</script>
{{end}}